{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>About me</h1>
<div>
I'm Low Qiao Ying from Ngee Ann Polytechnic. I am currently studying diploma of Information technology in Ngee Ann Polytechnic. My hobbies are playing computer games.
</div><br>

<h1>Resume</h1>
<div>
Low Qiao Ying<br>
210 Bukit Batok St 21<br>
Singapore 650210<br>
Tel: +65 8101 7200 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email: qiaoying998@hotmail.com<br>
============================================================================================================<br>
</div>

<div>
<h1>Education</h1>

<h5>Ngee Ann Polytechnic &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Apr 2017 – Present</h5>
- Diploma in Information Technology<br>
- Expected Graduation Date: 2020<br>
<br>

<h5>ITE College West &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; March 2015 – March 2017</h5>
- Higher Nitec in Security System Integration<br>
<br>

<h2>Work Experience</h2>

<h5>Nurse (Part-Time) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nov 2014 - Present</h5>
-	Ushering patients<br>
-	Preparing medication<br>
-	Administrative work<br>
-	Assisting with minor surgeries<br>
<br>

<h5>Hyper Communications Pte Ltd (Internship) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sep 2016 - Mar 2017</h5>
-	Customer service<br>
-	Administrative work<br>
-	Troubleshooting hardware (camera)<br>
-	Network issues<br>
-	Logistics planning<br>
<br>

<h2>Co-Curricular Activities and Community Service</h2>

<h5>Yusof Ishak Secondary School &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jan 2012 – Dec 2014</h5>
<h6>Drum Major, Symphonic Band</h6>
-	Organizing and schedule band training<br>
-	Provide guidance to section leaders during events<br>
-	Provide overall instructions when teachers and conductor isn’t present<br>
<br>

<h2>Certificates and Awards</h2>

Edusave Merit Busary &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2016<br>
Edusave Certificate of Academic Achievement&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2016<br>
<br>

<h2>Skills</h2>
<h5>Languages</h5>
- Written and Spoken English; Written and Spoken Mandarin<br>
<br>

<h5>Programming</h5>
- Python, Java, C++, C#, JavaScript, JSON, SQL<br>
- HTML, HTML5, ASP.net, CSS, jQuery, AJAX, Firebase<br>
<br>				   

<h5>Software</h5>
- Microsoft Suite – Word, Excel, PowerPoint, Visio<br>
- Android Studio, Visual Studio<br>
- DaVinci Resolve, Open Broadcaster Software Studio, Virtual Machine (VMware, VirtualBox)<br>
<br>

<h2>Referees</h2>
1.	Sheikh Fawazi Bin Mohd Shaik<br>
- Lecturer, ITE College West<br>
- 9691 6725<br>
- sheikh_fawazi@ite.edu.sg<br>
- Mentor, ITE Collage West<br>
<br>

2.	Wesley Teo Wen Qiang<br>
- Lecturer, Ngee Ann Polytechnic<br>
- 8331 3942<br>
- teo_wen_qiang@np.edu.sg<br>
- Mentor, Ngee Ann Polytechnic<br>
<br>
</div>
{% endblock %}
